name: deploy-book

# Run this when the master or main branch changes
on:
  push:
    branches:
    - main
    # If your git repository has the Jupyter Book within some-subfolder next to
    # unrelated files, you can make this run only if a file within that specific
    # folder has been modified.
    #
    # paths:
    # - some-subfolder/**

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  to-lowercase:
    runs-on: ubuntu-latest
    outputs:
      repo_lowercase: ${{ steps.lowercase.outputs.repository }}
    steps:
      - id: lowercase
        run: |
          echo "repository=ghcr.io/${GITHUB_REPOSITORY,,}:jazzy" >> $GITHUB_OUTPUT

  deploy-book:
    needs: to-lowercase
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.to-lowercase.outputs.repo_lowercase }}
    environment:
      name: github-pages
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      # Install dependencies
      - name: Install dependencies
        run: |
          source /opt/ros/cram-env/bin/activate
          poetry install
          python3 -m pip install -r krrood/doc/requirements.txt
          python3 -m pip install jupyter-book jupytext nbconvert

      # Build the book
      - name: Build the book
        run: |
          source /opt/ros/cram-env/bin/activate
          jupyter-book build krrood/doc

      # Upload the book's HTML as an artifact
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "krrood/doc/_build/html"

      # Deploy the book's HTML to GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
