<?xml version="1.0" ?>
<robot name="montessori_object_1" version="1.0">
  <link name="montessori_object_1">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.004115180112421513"/>
      <inertia ixx="2.389730013874214e-07" ixy="0.0" ixz="0.0" iyy="2.389730013874214e-07" iyz="0.0" izz="4.5374500245998206e-07"/>
    </inertial>
    <collision name="MontessoriObject1">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.02199999988079071" length="0.004000000189989805"/>
      </geometry>
    </collision>
  </link>
</robot>