from __future__ import annotations
from dataclasses import dataclass
from typing_extensions import ClassVar, Callable
from {{ base_module }} import {{ base_class_name }}
{{ type_imports }}try:
    {{ import_line }}
except ImportError:
    pass


@dataclass
class {{ class_name }}({{ base_class_name }}):
    """FunctionCase for the `{{ function_name }}` function."""
{% for field in fields %}
    {{ field.name }}: {{ field.type_string }}
{% endfor %}
    _output: {{ return_type }}


try:
    {{ class_name }}.function = {{ access_expression }}
except NameError:
    pass
